@font-face {
  font-family: lucida sans unicod;
  src: local ("lucida sans unicod"),
        url(fonts/lucida_sans.ttf);
}

.container {
	width: 915px;
	margin: 0 auto;
}

/*
	HEADER
*/

.header {
	height: 275px;
	margin-top: 20px;
}

.wraper {
  height: 28px;
  /*float: left;*/
  /*width: 800px;*/
  line-height: 28px;
}

.telephone {
  float: left;
  width: 280px;
  height: 26px;
  margin-left: 9px;
  font-size: 18px;
  font-family: arial;
  color: #5e696d;
  background: url(../img/telephone.png) 0 5px no-repeat;
}

.telephone p {
   margin-left: 25px;
}

.entrance {
  width: 495px;
  height: 26px;
  float: left;
  line-height: 26px;
/*  float: left;*/
  margin-left: 20px;
 /* margin-right: 0;*/
/*  margin-bottom: 22px;*/
  background: linear-gradient(to top, #0c3256, #206988);
  border-radius: 5px;
  -webkit-box-shadow: 1px 3px 8px 0 rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 1px 3px 8px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 1px 3px 3px 0px rgba(50, 50, 50, 0.3);
}

.entrance img {
  display: block;
  float: left;
  height:18px;
  width: 14px;
  margin-left: 7px;
  margin-top: 4px;
}

.entrance input {
  height: 16px;
  width: 112px;
  padding-left: 5px;
  /*line-height: 16px;*/
 /* float: left;*/
  margin-left: 10px;
  border-radius: 2px;
  border: none;
  font-family: lucida sans unicod, arial;
  font-size: 11px;
  text-align: left;
}

.reg {
	text-decoration: none;
	color: #fff;
	font-family: lucida sans unicod, arial;
	font-size: 11px;
    margin-left: 5px;
}

.pass {
	font-family: lucida sans unicod, arial;
	font-size: 12px;
    margin-left: 5px;
    color: #62768a;
}

.navigation {
	width: 83px;
	height: 28px;
	float: left;
	margin-left: 15px;
	background: url(../img/navi.png) 0 0 no-repeat;
}

.navigation ul {
	height: 20px;
	width: 70px;
	margin-top: 9px;
	margin-left: 2px;
}

.navigation li {
	float: left;
	margin-left: 10px;
}

.navigation li:last-child {
	margin-top: 2px;
}

.logo {
	margin: 10px 0;
}

.logo img {
  display: block;
  margin: 0 auto;
}

.top_menu {
  background: url(../img/top_menu_background.png) 0 0 repeat-x;
  height: 34px;
  -webkit-box-shadow: 2px 2px 9px 0px #000;
  -moz-box-shadow: 2px 2px 9px 0px #000;
  box-shadow: 2px 2px 9px 0px #000;
  border-radius: 3px;
}

.top_menu ul{
  height: 34px;
  width: 550px;
  float: left;
  margin-left: 125px;
  margin-bottom: 10px;
}

.top_menu li {
  float: left;
  height: 34px;
}

.top_menu li a {
  margin-left: 30px;
  padding: 0 13px 5px 13px;
  height: 26px;
  line-height: 32px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-family: lucida sans unicode, sans-serif;
}

.top_menu li a:first-child {
  margin-left: 0;
}

.top_menu li a:hover {
	height: 25px;
	border-radius: 13px;
	background: linear-gradient(to top, #0c3256, #206988)
}

.basket {
	float: right;
	width: 220px;
	line-height: 32px;
	font-size: 11px;
	font-weight: bold;
	font-family: arial, sans-serif;
}

.basket:before {
  display: block;
  content: '';
  float: left;
  width: 20px;
  height: 20px;
  background-image: url(../img/sprite.png);
  background-position: 0 2px;
  margin-top: 6px;
}

.basket p {
	float: left;
	padding-left: 13px;
	color: #929b9f;
}

.basket a {
	text-decoration: none;
	color: #104c78;
}

/*
	FORM_SERCH
*/


.form_search {
  margin-left: 10px;
	width: 908px;
	height: 145px;
	overflow: hidden;
}

.car_form {
	float: left;
	width: 410px;
	height: 135px;
}

.bus_form {
	float: left;
	width: 192px;
	height: 135px;
	margin-left: 10px;
}

.disk_form {
	float: left;
	width: 269px;
	height: 135px;
	margin-left: 10px;
}

.car_form,
.bus_form,
.disk_form {
	border: 1px solid #9c9c9d;
	border-radius: 15px;
	-webkit-box-shadow: 4px 3px 5px 0px #686868;
  -moz-box-shadow: 4px 3px 5px 0px #686868;
  box-shadow: 4px 3px 5px 0px #686868;
}

/*
  CAR_FORM
*/

.title_form {
  margin-bottom: 5px;
}

.disks {
  font-family: arial black, sans-serif;
  font-size: 10px;
  margin-left: 15px;
  color: #154467;
}

.car_search {
  margin-left: 50px;
  font-family: arial black, sans-serif;
  font-size: 14px;
  color: #154467;
}

.bus {
  font-family: arial black, sans-serif;
  font-size: 10px;
  margin-left: 63px;
  color: #154467;
}

.avto,
.bus_search {
  margin-left: 15px;
  font-size: 10px;
  font-family: arial, sans-serif;
}

.avto .avto_label_container {
  width: 79px;
  float: left;
  margin-top: 4px;
}

.avto_label_container p,
.avto_label_container_bus p {
  margin-bottom: 8px;
}

.avto .avto_select_container,
.avto .avto_select_container_bus {
  width: 100px;
  float: left;
}

.avto .avto_select_container p,
.avto .avto_select_container_bus p {
  margin-bottom: 2px;
}

.avto span,
.disk_form_name span,
.dco span {
  color: #929da2;
}

.car_select,
.car_select_bus {
  width: 100px;
}

.years_select,
.years_select_bus {
  width: 59px;
}

.marka_avto_bus {
  margin-left: 28px;
}

.form_search a {
  float: right;
  margin-right: 15px;
  margin-top: 7px;
  color: #154467;
  font-size: 12px;
  font-family: arial, sans-serif;
  font-style: italic;
}

.avto .avto_label_container_bus {
  width: 79px;
  float: left;
  margin-top: 4px;
  margin-left: 28px;
}

.search {
  height: 13px;
  padding: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #446985;
  padding-bottom: 14px;
  background: #fff;
  font-size: 13px;
  font-family: arial, sans-serif;
  color: #446985;
  font-style: italic;
  }

.search.search_1 {
  margin-left: 330px;
}


/*

  BUS_FORM

*/

.bus_title_form {
  margin: 2px 7px 10px;
  font-family: arial black, sans-serif;
  font-size: 14px;
  color: #154467;
}

.bus_search {
  float: left;
  margin-left: 12px;
}

.bus_search_container {
  width: 168px;
  height: 95px;
}

.bus_label_container {
  width: 42px;
  height: 92px;
  float: left;
  margin-top: 8px;
}

.bus_label_container p{
  margin-bottom: 12px;
}

.bus_label_container .radius {
  margin-left: 33px;
}

.bus_search .sezon {
  margin-left: 3px;
}

.bus_label_container_form {
  width: 56px;
  height: 92px;
  float: left;
}

.bus_size_form {
  height: 18px;
  margin-bottom: 8px;
}

.radius_form {
  height: 18px;
}

.selection_of_the_season {
  font-weight: bold;
}

.selection_of_the_season input {
  margin-bottom: 0;
}

.bus_label_container_form_2 {
  width: 60px;
  float: right;
  margin-right: 10px;
}

.clear_block {
  clear: both;
}

.search.search_2 {
  margin-left: 115px;
  margin-top: -9px;
}

/*

  DISK_FORM
*/

.disk_form_label {
  float: left;
  width: 168px;
  height: 110px;
  border-right: 1px solid #9c9c9d;
}

.disk_form_name {
  float: left;
  width: 80px;
  height: 88px;
  margin-left: 14px;
  margin-top: 5px;
}

.disk_form_name p {
  font-family: lucida sans unicode, arial, sans-serif;
  font-size: 10px;
  margin-bottom: 4px;
}

.disk_form_search {
  float: left;
  width: 60px;
  height: 84px;
}

.diameter_disc_search {
  width: 60px;
  margin-bottom: 9px;
}

.number_of_holes_sarch {
  width: 52px;
  margin-bottom: 13px;
}

.diameter_of_holes_search {
  width: 60px;
}

.dco {
  width: 68px;
  height: 100px;
  margin-left: 180px;
  margin-top: -20px;
}

.dco p {
  font-size: 10px;
  font-family: lucida sans unicode, arial, sans-serif;
}

.dco_search {
  width: 62px;
  margin-bottom: 5px;
}

.et_search {
  width: 62px;
}

.search.search_3 {
  margin-left: 200px;
  margin-top: -2px;
}

/*

  CONTENT

*/

.content {
  width: 915px;
  margin-top: 15px;
}

.left_menu {
  width: 182px;
  padding-top: 5px;
}

.catalog {
  float: left;
  width: 182px;
  height: 27px;
  border: 1px solid #79878d;
  border-radius: 15px;
  -webkit-box-shadow: 4px 3px 3px 0px #969696;
  -moz-box-shadow: 4px 3px 3px 0px #969696;
  box-shadow: 4px 3px 3px 0px #969696;
}

.catalog:before {
  float: left;
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  background-image: url(../img/sprite.png);
  background-position: -50px 2px;
}

.catalog p {
  margin-left: 20px;
}


